[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "minimal"]
	path = minimal
	url = https://github.com/S1cK94/minimal
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/JohnMorales/base16-shell
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
