[submodule "vim/bundle/syntax"]
        path = vim/bundle/syntax
        url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/bundle/ctrlp.vim"]
        path = vim/bundle/ctrlp.vim
        url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/auto-pairs"]
        path = vim/bundle/auto-pairs
        url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/lightline.vim"]
        path = vim/bundle/lightline.vim
        url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/rainbow_parentheses.vim"]
        path = vim/bundle/rainbow_parentheses.vim
        url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/syntastic"]
        path = vim/bundle/syntastic
        url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/tagbar"]
    path = vim/bundle/tagbar
    url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-easymotion"]
    path = vim/bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-gitgutter"]
    path = vim/bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-indent-guides"]
    path = vim/bundle/vim-indent-guides
    url = https://github.com/Valloric/vim-indent-guides
[submodule "vim/bundle/vim-multiple-cursors"]
    path = vim/bundle/vim-multiple-cursors
    url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/bundle/YouCompleteMe"]
    path = vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-foldfocus"]
	path = vim/bundle/vim-foldfocus
	url = https://github.com/vasconcelloslf/vim-foldfocus
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/bundle/neocomplcache.vim"]
	path = vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
